*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(107, 136, 251);
   
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 65px;
    border-radius: 80px;
}

        /*Site title*/
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 60px;
    font-family: "Seymour One", sans-serif;
    font-size: 40px;
    color: whitesmoke;
    letter-spacing: 15px;
}


        /*Search Bar*/
.city-input{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
   border: none;
}


        /*Search Btn*/
button{
    cursor: pointer;
    border-radius: 100px;
    padding: 10px;
    font-weight: 500;
}

            /* Current Weather*/
.current-weather{
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
}


            /*Current Weather City Name*/
.current-card h1{
    color: rgb(68, 174, 23);
    font-size: 50px;
}


            /*Current Weather Card*/
.current-card{
    gap: 1rem;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: inset black 0px 0px 15px 1px;
}

            /*Current Weather Temp,Humid*/
.current-weather p{
    display: flex;
    margin: 0;
    padding: 30px;
    font-size: 80px;
    justify-content: center;
    flex-wrap: wrap;
}


        /*5 Day Forecast */
.forecast{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    gap: 6rem;
    
}

        /*5 Day Forecast card*/

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: inset black 0px 0px 15px 1px;
    height: 300px;
    width: 300px;
    padding: 20px;
    border-radius: 25%;
    gap: 3rem;
}


        /*5 Day Forecast Date */

.card h3{
    font-family: "Seymour One", sans-serif;
    font-size: 27px;
    color: rgb(68, 174, 23);

}

        /*5 Day Forecast Temp,Humid*/
.card p{
    font-size: 40px;
    font-weight: 650;
}








